<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}
          
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSelzqkVGyn5P1kEE885uiLPsZgNofcrxlteYGw9b1Fz4L70eQ/viewform?embedded=true" width="640" height="1601" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
